extends layout
include mixins/mixins

block body
  +nav('I-Manager', 'dropdown_menu', '')
    +nav_item( '/', 'active' ) Home	
    +nav_item_dropdown( '#' )( label='User' )
      if status == 'super'
        +nav_item( 'register-admin') Register admin
        +nav_item( '/assets/add-assets' ) Add assets
        +nav_item( '/assets' ) Available assets
        +nav_item( '/assets/assigned' ) Assigned assets
        +nav_item( '/assets/found' ) Lost but found
      if isLoggedIn
        +nav_item( '/assets' ) Available assets
        +nav_item( '/assets/assigned' ) Assigned assets
        +nav_item( '/logout' ) Logout
      else
        +nav_item( '/login' ) Login	
        +nav_item( '/register') Register	
      +nav_header Nav header
    +nav_item( '/notifications' )
      i.fa.fa-bell(aria-hidden='true')
  .container.top-div
    div.row
      div.col-md-offset-2.col-md-8
        h1= title
        div.asset-section
          each asset in assets
            div.col-md-4.each-asset
              h5= 'Asset name: '+ asset[0]
              p= 'Asset description: '+ asset[1]
              p= 'Date bought: '+ asset[2]
              p= 'Andela Serial Code: '+ asset[3]
              a.btn.btn-sm.btn-default(href='#', type='Submit') Assign asset
block footer
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script.
    $(document).ready(function() {
      var boxId = $(this).attr('id');
      $('#keyword').on('input', function() {
        var searchKeyword = $(this).val();
          if (searchKeyword.length >= 5) {
            $.post('/users', { keywords: searchKeyword }, function(data) {
              $.each(data, function() {
                $('p#result').html('<a href="#">' + this + '</a>');
            });
            }, 'json');
          }
      });
    });
    