extends layout
include mixins/mixins

block body
  +nav('I-Manager', 'dropdown_menu', '')
    +nav_item( '/', 'active' ) Home	
    +nav_item_dropdown( '#' )( label='User' )
      if status == 'super'
        +nav_item( 'register-admin') Register admin
        +nav_item( '/assets/add-assets' ) Add assets
        +nav_item( '/assets' ) Available assets
        +nav_item( '/assets/assigned' ) Assigned assets
        +nav_item( '/assets/found' ) Lost but found
      if isLoggedIn
        +nav_item( '/report' ) Report lost item
        +nav_item( '/found' ) Report found item
        +nav_item( '/logout' ) Logout
      else
        +nav_item( '/login' ) Login	
        +nav_item( '/register') Register	
      +nav_header Nav header
    +nav_item( '/notifications' )
      i.fa.fa-bell(aria-hidden='true')
  .container.top-div
    div.row
      div.col-md-offset-3.col-md-9
        h1= title
        div.asset-section
          each asset in allItems
            div.col-md-4.each-asset#each-asset
              p= 'Asset name: '+ asset[0]
              p= 'Asset description: '+ asset[1]
              p= 'Date bought: '+ asset[2]
              p= 'Andela Serial Code: '+ asset[3]
              p= 'Assignee: '
                a(href='/users/'+ asset[5])= asset[4]
              if Date.parse(asset[6]) > Date.now()
                span.text-danger
                  i.fa.fa-exclamation-triangle(aria-hidden='true')= ' Due date: '+ asset[6]
              else if (Date.now() - Date.parse(asset[6])) <= 172800000
                span.text-warning
                  i.fa.fa-exclamation-triangle(aria-hidden='true')= ' Due date: '+ asset[6]
              else
                p= 'Due date: '+ asset[6]
              if asset[7] == 1
                form(role='form', action='/assets/found', method='post')
                  input.form-control(type='hidden', name='username', value=asset[4])
                  input.form-control(type='hidden', name='uid', value=asset[5])
                  input.form-control(type='hidden', name='serialCode', value=asset[3])
                  button.btn.btn-sm.btn-success(type='submit') Report lost but found
              else
                form(role='form', action='/assets/report', method='post')
                  input.form-control(type='hidden', name='username', value=asset[4])
                  input.form-control(type='hidden', name='uid', value=asset[5])
                  input.form-control(type='hidden', name='serialCode', value=asset[3])
                  button.btn.btn-sm.btn-danger(type='Submit') Report as lost
block footer
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script.
    (function() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      document.getElementById('each-asset').style.border = 'thick solid '+ color;
    }())